:root {
    --color-card: #dbbe02;
} 


@keyframes slideUp {
    0% {transform: translate(0%, 60%);}
    100% {transform: translate(0%, 0%);}
}

@keyframes slideDown {
    0% {transform: translate(0%, 0%);}
    100% {transform: translate(0%, 60%);}
}

@keyframes shimmer {
    to {
        background-position-x: -20%
    }
}

body {
    display: block;
    font-family: "Lilita One", serif;
    color: white;
    background: transparent;
    overflow-y: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.card-outline {
    width: 18.2vw;
    height: 52.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #000000 40%, var(--color-card) 50%, #000000 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 2.1s infinite linear;
    border-radius: 25px;
    border-style: solid;
    border-color: var(--color-card);
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.card-container {
    z-index: 1;
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}

.image-wrapper {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:fill;
}

.name-wrapper {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.description-wrapper {
    text-transform: uppercase;
    font-weight: bolder;
    overflow-y: scroll;
}

.info-container {
    display: flex;
    flex-direction: column;
    height: 37%;
    gap: 0.313rem;
}

.logo-image {
    width: 10%;
}

::-webkit-scrollbar {
	width: 12px;
    border-radius: 0.9rem;
}

::-webkit-scrollbar-thumb {
    background: #191b1f;
    border-radius: 0.9rem;
}

.quote-container {
    display: flex;
    justify-content: center;
    padding-top: 0.9rem;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 0.9rem;
}
