
:root {
    --white: #eff6ee;
    --black: #22181c;
    --blue: #4551d4;
    --light-red: #ff0000;
    --grey: #353434;
    font-family: 'Lato', 'sans-serif';
}
.logo {
    height: 3.8rem;
}

@keyframes glitch {
    0% {
        transform: translate(-5px, 5px);
    }
    25% {
        transform: translate(5px, -5px);

    }
    50% {
        transform: translate(-5px, 5px);

    }
    75% {
        transform: translate(5px, -5px);

    }
    100% {
        transform: translate(0);
    }
}

.logo:hover {
    animation: glitch 1s infinite;
}

.logo-info {
    color: var(--white);
    height: 3.8rem;
}
.nav {
    background-image: linear-gradient(0deg, var(--light-red), var(--grey));
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.nav-link {
    color: var(--white);
}
.navbar-brand {
    color: var(--white);
    margin-top: 3px;
}
.text-white {
    color: var(--white);
}
.bg-body-black {
    background-color: var(--black);
}
div.discord {
    background-color: var(--black);
}
a.discord {
    color: var(--white);
}
a.discord:hover {
    color: var(--blue);
}
div.tebex {
    background-color: var(--black);
    margin-right: 5px;
}
a.tebex {
    color: var(--white);
}
a.tebex:hover {
    color: var(--blue);
}
