:root {
  --white: #d1cdc7;
  --black: #181a1b;
  --grey: rgba(50, 50, 50, 0.65);
}


.topnav {
  background-color: var(--black);
  overflow: hidden;
  width: 100%;
  z-index: 1000;
}

.topnav a {
  float: left;
  color: var(--white);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 12px;
  border: none;
}

.topnav a:hover {
  background-color: var(--white);
  color:  var(--black);
}

.topnav a.active {
  background-color: #aa0404;
  color:  var(--white);
}

.movingnav {
  background-color: var(--black);
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.movingnav a {
  float: left;
  color:  var(--white);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 12px;
  border: none;
}

.movingnav a:hover {
  background-color: var(--white);
  color:  var(--black);
}

.movingnav a.active {
  background-color: #aa0404;
  color:  var(--white);
}

img {
  width: 100%;
  height: 100%;
}

.Indexmainelement{
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}

.Showcasemainelement{
  display: flex;
  flex-direction: column;
}

.Experiencemainelement{
  display: flex;
  flex-direction: column;
}

.Aboutmainelement{
  display: flex;
  flex-direction: column;
}

.infosection{
  position: absolute;
  top: 40px;
  left: 10px;
  background-color:  var(--black);
  color:  var(--white); 
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
  border: 5px solid  var(--white);
  border-radius: 5px;

}

.background-info {
  width: 100%;
  height: 100%;
  background-color:  var(--grey);
}

.infosection img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #1e2022;

}

.fadein {
  animation-name: fadein;
  animation-duration: 2s;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 2s;
}

@keyframes fadein {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fadeout {
  from {opacity: 1}
  to {opacity: .4}
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 16%;
  width: 100%;
  background-color:rgba(50, 50, 50, 0.65) ;
}


.link {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  margin-left: 5px;
}

.link:hover {
  color: #aa0404;
}


body {
  color: #d1cdc7;
  background-color: var(--black);
}


.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 650px;
  height: 360px;
  
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery > img {
  width: 100%;
}

.gallery:hover img {
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.desc {
  padding: 15px;
  text-align: center;
}

.showcase {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Title {
  display: flex;
  justify-content: center;
}

.collapsible {
  background-color: var(--black);
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: var(--grey);
}

.content {
  border: 1px solid var(--grey);
  color: var(--white);
  padding: 0 18px;
  background-color: var(--grey);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.aboutme {
	background: #1f2323;
  border: 2px solid  var(--white);
  border-radius: 5px;  
  width: 60%;
  margin-bottom: 5%;
  margin-top: 1%;

}

.Aboutmainelement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcasecontainer {
  display: flex;
  flex-direction: row;
}

.showcasecontainer img{
  width: 20vw;
  height: 40vh;
}

.Showcasetext {
  position: absolute;
  bottom: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.Showcasetext > .Title {
  text-transform: uppercase;
}

.showcaseimg {
  position: relative;
}