
:root {
    --white: #eff6ee;
    --black: #22181c;
    --blue: #0818ca;
    --light-red: #ff0000;
}
.logo {
    height: 3.8rem;
}
.nav {
    background-image: linear-gradient(270deg, var(--light-red), var(--white));
    box-shadow: 2px 2px rgba(0,0,0,0.15);
}
.nav-link {
    color: var(--white);
}
.navbar-brand {
    color: var(--white);
}
.text-white {
    color: var(--white);
}
.bg-body-black {
    background-color: var(--black);
}
div.discord {
    background-color: var(--black);
}
a.discord {
    color: var(--white);
}
a.discord:hover {
    color: var(--blue);
}
div.tebex {
    background-color: var(--black);
    margin-right: 5px;
}
a.tebex {
    color: var(--white);
}
a.tebex:hover {
    color: var(--blue);
}
